@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}



body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2e1e6;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
  
}



.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #efe8ef;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
 
}



.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.start {
  background: linear-gradient(150deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(150deg, #5864e4 0%, #c468e0 100%);
}

.done {
  background: linear-gradient(150deg, #ea84fa 0%, #8fd3f4 100%);
}



.hide{
  display: none;
}

.hovered {
  border-top: 2px solid rgb(217, 162, 229);
} 

.placeholder.singular .item.singular {
  border: 5px solid rgb(45, 190, 45);
}
.placeholder.plural .item:not(.singular) {
  border: 5px solid rgb(220, 67, 67);
}
